@charset "utf-8";
/* CSS Document */

body{
	background: #c0c0c0;
}

h1 {
    color: orange;
    background: purple;
}

p {
    font-family: sans-serif;
}

footer p {
    font-size: 0.75em;
    font-family: monospace;
}