@charset "utf-8";
/* CSS Document */

body{
	background: #c0c0c0;
}

h1 {
    color: orange;
    background: purple;
    font-size: 2em;
}

p {
    font-family: sans-serif;
	color:red;
}

footer p {
    font-size: 0.75em;
    font-family: monospace;
}